#signUp {
    max-width: 960px;
    border: 1px solid #f7f7f7;
    box-shadow: 1px 1px 5px #f7f7f7;
    padding: 3.5rem;
    margin: 1rem auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}